body {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 10pt;
}

#item {
	width: 470px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	position: absolute;
	top: 25px;
}

#header {
	display: flex;
}

#img {
	width: 100%;
}

#reactions {
	display: flex;
	width: 470;
}

#like {
	width: 5%;
	cursor: pointer;
}

#comment {
	width: 5%;
	cursor: pointer;
}

#plane {
	width: 5%;
	cursor: pointer;
}
